body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  #menu {
    text-align: center;
  }
  
  h1 {
    color: white;
    font-size: 3em;
  }
  
  button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 10px;
    cursor: pointer;
  }
  
  #settingsMenu {
    display: none;
  }